<section class="Budget-report">
  <mat-card>
    <mat-card-title>IPH Hospital USA</mat-card-title>
    <mat-card-content>
      <div class="Budget-report__circle-graph"></div>
      <div class="Budget-report__circle-graph--revenue Budget-report__circle-graph--revenue-spent">
        <span>Total Spent</span>
        <span>$15,470</span>
      </div>
      <div class="Budget-report__circle-graph--revenue Budget-report__circle-graph--revenue-received">
        <span>Received</span>
        <span>$15,470</span>
      </div>
    </mat-card-content>
    <mat-card-footer>
      <span>Quarter Budget</span>
      <span>$35,604.00</span>
    </mat-card-footer>
  </mat-card>
</section>
