<mat-sidenav-container
  (backdropClick)="sidenav.close()">
  <mat-sidenav #sidenav disableClose>
    <nav class="Sidenav">
      <ul class="Sidenav-list">
        <li *ngFor="let sideNavItem of sideNavItems">
          <a [href]="sideNavItem.link" (click)="sidenav.close()">
            <mat-icon aria-label="">{{sideNavItem.icon}}</mat-icon>
          </a>
        </li>
      </ul>
    </nav>
  </mat-sidenav>

  <mat-sidenav-content>

    <nav class="Nav container mat-elevation-z3">
      <button mat-icon-button mat-button (click)="sidenav.open()">
        <mat-icon aria-label="Example icon-button with a heart icon">menu</mat-icon>
      </button>
    </nav>

    <main class="container">

      <app-overview-section></app-overview-section>

      <app-budget-report-section></app-budget-report-section>

    </main>



  </mat-sidenav-content>
</mat-sidenav-container>
