mat-sidenav {
  width: 85px;
}

mat-sidenav-content {
  height: 100vh;
}

.Sidenav-list {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

.Sidenav-list a {
  display: block;
  padding: 10px 0;
}

.Nav {
  height: 50px;
  display: flex;
  align-items: center;
}

app-overview-section {
  margin: 20px 0;
}
